 
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <h5 class="my-0 mr-md-auto font-weight-normal">
      <app-header></app-header>
    </h5>

    <nav class="my-2 my-md-0 mr-md-3">
 
      <a class="button" [routerLink]="['/home']">Shop</a>
      <!-- <a class="button" href="#">Enterprise</a> -->
       <a class="button" [routerLink]="['/footer']"> Support </a> 
      <!-- <a class="button" href="#"> Pricing </a> -->
      <a class="button" [routerLink]="['/registeration']">Sign up</a>
    <a class="button" [routerLink]="['/login']">Login</a>
    <a class="button" [routerLink]="['/login']">admin panel</a>
  
    </nav>
    
 <div class="class">
  <p [ngStyle]="{'color':'#212529;'}">username:{{userdata}}</p>
 </div>
  </div>
